@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Futura';
    src: local('Futura'), url('../../fonts/Futura.ttf');
}
.edu-exp-container {
    padding-left: 20rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-right: 35rem;
    display: flex;
}

.edu-container {
    margin-right: 15rem;
}

.edu-heading h1, .exp-heading h1 {
    font-family: 'Playfair Display', serif;
    color: #5569dc;
    font-style: italic;
    font-size: 2.2rem;
    font-weight: normal;
}


.edu-heading h3, .exp-heading h3 {
    margin-top: 0.5rem;
    font-family: 'Futura';
    color:#5569dc;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

.edu {
    width: 450px;
    font-family: 'Futura';
}

.year {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
.school {
    font-size: 1.3rem;
    letter-spacing: 0.09rem;
    line-height: 1.5;
}